<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
</head>
<body>
<h1>Lista de Clientes</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Usuário</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cliente : ${listaClientes}">
        <td th:text="${cliente.id}"></td>
        <td th:text="${cliente.usuario}"></td>
        <td th:text="${cliente.nomeCompleto}"></td>
        <td th:text="${cliente.email}"></td>
        <td th:text="${cliente.numeroTelefone}"></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}">Voltar</a>
</body>
</html>
